.add-comment-section {
  display: flex;
  padding: 25px 0px;
}
.comments-contiainer {
  width: 100%;
}

.comment-area {
  width: calc(100% - 22px);
  resize: none;
  border: 1px solid var(--app-border);
  border-radius: 4px;
  outline: none;
  margin-bottom: 5px;
  padding: 10px;
}

.action-buttons {
  display: flex;
  gap: 14px;
  margin-top: 15px;
}
