.comment-container {
  display: flex;
  margin-bottom: 30px;
  font-size: 14px;
}

.updated-by {
  color: var(--app-text);
}

.updated-on {
  color: var(--app-text);
}

.comment {
  margin: 7px 0px;
  white-space: pre;
}

.tagged-names {
  display: flex;
  margin-bottom: 8px;
}
