.common-select {
	width: 100%;
	display: flex;
	align-items: center;
	color: var(--app-text);
	padding-left: 5px;
}
.dropdown-container {
	min-height: 30px;
	width: 100%;
	border: 1px solid var(--app-border);
	border-radius: 4px;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 4px;
}
.dropdown {
	width: 100%;
}
.down-icon {
	position: relative;
	font-size: 25px;
	top: -5px;
}

.options-list {
	background: var(--app-white);
	padding: 25px;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 var(--app-shadow), 0 6px 20px 0 var(--app-shadow);
}

.option-item {
	padding: 5px 0px;
	margin-left: 10px;
}

.option-container {
	display: flex;
	cursor: pointer;
	width: fit-content;
	align-items: center;
	margin: 10px 0px;
}

.checkbox-custom {
	height: 20px;
	width: 20px;
}

.tagged-list {
	margin-left: 5px;
	display: flex;
	flex-wrap: wrap;
}

.tagged-list div {
	margin: 0px 5px;
}