.popup-overlay {
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
}

.popup-contents {
	margin-top: 20px;
	max-height: 400px;
	width: calc(100% - 40px);
	background: var(--app-white);
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 var(--app-shadow), 0 6px 20px 0 var(--app-shadow);
	min-width: 500px;
}

.popup-items {
	padding: 19px;
}